{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Login | DuelBola</title>
{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock style %}


{% block body %}
<div class="form">
  <ul class="tab-group">
    <li class="tab active"><a id="title_login" href="#login">Log In</a></li>
    <li class="tab "><a id="title_signup" href="#signup">Sign Up</a></li>

  </ul>

  <div class="tab-content">
    <div id="login">

      <form method="POST">
        {% csrf_token %}

        <div class="field-wrap">
          <label>
          Username<span class="req">*</span>
          </label>
          <input class ="input" type="text" name="username" id="username_login" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
          Password<span class="req">*</span>
          </label>
          <input class="input" type="password" name="password" id="password_login" required autocomplete="off"/>
        </div>

        <button type="submit" id="submit_login" class="button button-block">Log In</button>

      </form>

    </div>

    <div id="signup">

      <form method="POST">
        {% csrf_token %}
        <div class="field-wrap">
          <label>
            Username<span class="req">*</span>
          </label>
          <input class="input" type="text" name="username" id="username_signup" required autocomplete="off" />
        </div>

        <div class="field-wrap">
          <label>
          Email Address<span class="req">*</span>
          </label>
          <input class="input" type="email" name="email" id="email_signup" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label>
          Set A Password<span class="req">*</span>
          </label>
          <input class="input" type="password" name="password" id="password_signup" required autocomplete="off"/>
        </div>

        <button type="submit" id="submit_signup" class="button button-block">SIGN UP</button>

      </form>

    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->


<script src = "{% static 'js/login.js' %}"></script>

{% endblock body %}
