{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>DUEL BOLA</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}

{% block body %}

      <div class="container home">


        <div class="row">

            <div class="col-6 justify-content-center align-text-center desc">
                {% if user.is_authenticated %}
              <div class="row">

                  <h3>{{ greeting }}</h3>

              </div>
                {% endif %}

              <div class="row">
                  <h1 class= 'duelH'> D U E L</h1>
              </div>






              <div class="row">
                  <h3> Duel adalah website penyedia lawan & tempat bermain futsal atau sepak bola  </h3>

              </div>

       </div>
       <div class="col-6">
          <img class="homepage" src="{% static 'img/duel.jpg' %}" alt="Responsive Image">
         </div>
       </div>



       </div>

{% endblock body %}
