{% extends 'base/base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'forum/css/style.css' %}">
    <script src="{% static 'forum/js/script.js' %}"></script>
{% endblock style %}

{% block title %}
    <title>DUEL Forum</title>
{% endblock title %}


{% block body %}
    <div class="home-forum">
        <div class="text-center">
            
            <span><h2>Forum Bersama</h2></span>
            {% if user.is_authenticated %}
               <div id="welcome-user">Welcome {{user.username}} <br></div>
            {% endif %}
            <span>Buat post baru <a href="{% url 'forum:post' %}">di sini</a></span>
        </div>
        <div id="post-forum">
        </div>
    </div>
{% endblock body %}
    
    