{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
    
{% block title %}
    <title>DUEL Post Forum</title>
{% endblock title %}


{% block body %}
    <div class="text-center home-forum">
        <h4>
            Apa yang sedang anda pikirkan?
        </h4>
        <div>
            <form action="" method ="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-outline-dark">Buat Post</button>
            </form>
        </div>
    </div>
{% endblock body %}
    
    