<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  <title> Futsal Place Recommendation </title>
{% endblock title %}
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

{% block style %}

{% endblock style %}

{% block body %}

<style>
.imagestyling {
  width: 100%;
  height: auto;
}
</style>
<link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
<link href = "{% static 'css/style.css' %}" rel = "stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/sunny/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<!-- penerapan jQuery dengan google CDN -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <br>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2> Find your futsal place here </h2>
            <div class="search">
              <input id="search" type="text" placeholder="Find...">
            </div>
          </div>
        </div>
        <br>
        <h5>Recommendation:</h5>
        <table bgcolor="#f2f2f2">
          <tr>
              <th><div id="result" class="p-3 d-flex flex-wrap">No result!</div></th>
          </tr>
          
        </table>

        <br>
        <br>

          <div class="row">
          <div class="col-sm">
            <h2>Alternative Finder!</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit">Cari Lokasi</button>
            </form>
          </div>
          <div class="col-sm">
            <h2>Recommendation: </h2>

            <p> {{ tag }} </p>
            <p> {{ field }} </p>
            <p> {{ hours }} </p>
            <p> {{ price }} </p>
            <img class="imagestyling" src= "/static/image/{{ image }}" alt="">


          </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-sm">
              <special> Guide </special> <br>
              <special>First finder implements maps google API (click to hide)</special><br>
              <special>Use alternative finder if first finder is not working, example: Location="Depok" (begin with capital letter) (click to hide)</special><br>
               
              <script>
              $( "special" ).click(function() {
                $( this ).slideUp();
              });
              </script>

            </div>
          </div>

          <br>
          <br>

        <br>
    </div>

    <br>
    <br>
    <br>

    <script src="{% static 'js/searchfutsal.js' %}"></script>


{% endblock body %}

