.home-forum{
    min-height: 54.5vh;
}

.konten-forum{
    display: flex;
    flex-direction: row;
}
.konten-judul{
    margin-left: 2em;
    width: 30vw;
    text-align: left;
}
.konten-isi{
    width: 70vw;
    margin-left: 2em;
    text-align: left;
}