

li a{
  font-family: Calibri;
  font-weight: 300;
  font-size: 17px;
  color: white;
}

.my-nav{
overflow: auto;
background-color: #181818;
color: #FDFDFDFD;
padding-top: 30px;
min-height: 70px;


}

.my-nav a{
text-decoration: none;
font-size:16px;
}

.my-nav li{
display: inline;
font: Century;
}

.duelH h1{
text-align: center;

}

.homepage{
width: 96vw;
height: 93.5vh;
}

@media only screen and (min-device-width: 400px) {
.homepage {
  width: 88%;

}
}

.desc{
margin-top: auto;
margin-bottom: auto;
}


footer{
overflow: auto;
background-color: #181818;
color: #FDFDFDFD;
position: absolute;
left: 0;
right: 0;
}

.btncol{
font: Century;
font-size: 10px;

}
